$color-primary: #124559;
$color-secondary: #5637dd;
$color-pale:  #EFF6E0;
$color-mid: #01161E;
$color-dark: #FAF9F9;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Muli", sans-serif;
$header-font: "Sriracha", cursive;



body {
  font-family: $body-font;
  background-color: $color-dark;
}

h1,
h2,
h3 {
  font-family: $body-font;
}

h2 {
  color: $color-primary;
}

header {
  h2 {
    color: $color-pale;
    text-shadow: 2px 2px 2px #aaa;
  }
}

header {
  h1 {
    font-family: $header-font;
    text-shadow: 4px 4px 4px #aaa;
  }
}


.accordion {
  h3 {
    color: $color-dark;
  }
}

.site-footer {
  background-color: $color-primary;
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: $color-primary;
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: $color-mid;
}

.card-header {
  background-color: $color-mid
}

.list-unstyled li a {
  color: $color-dark;
}

a[href="mailto:help@saveengineers.com"] {
  color: $color-dark;
}

a[href="tel:+12065551234"] {
  color: $color-dark;
}

h5 {
  color: $color-pale;
  font-weight: bold;
}

.card {
  h5 {
    color: $color-mid;
    font-weight: bold;
  }
}

.bt1 {
  background-color: $color-pale;
}
