body {
  font-family: "Open Sans", sans-serif;
  background-color: #FAF9F9; }

h1,
h2,
h3 {
  font-family: "Cambria", bold; }

h2 {
  color: #124559; }

header h2 {
  color: #EFF6E0; }

.site-footer {
  background-color: #124559;
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #124559;
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #01161E; }
